# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/
.env/

# Models
model/*.onnx

# Generated embeddings
*.npy

# Generated outputs
data/derivations/

# Validation images (optional)
src/validation/*.png
src/validation/*.jpeg
src/validation/*.webp
src/validation/*.avif

# OS
.DS_Store
Thumbs.db