# Ignore virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Model cache 
.insightface/